:root {
  --bgColor: rgb(16, 19, 28);
  --elColor: rgb(160, 210, 235);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  color: var(--elColor);
}

body {
  background: var(--bgColor);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  padding: 20px;
  font-size: 30px;
}

.busServices {
  margin: 30px;
  padding: 20px;
}

.busService {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 25px;
}
